@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
    height: 48px;

}
nav a {
    color: white;
    text-decoration: none; 
}
nav .right-nav {
    display: flex;
    gap: 1rem;
}
.logo{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    color: white;
    font-size: 24px;
    font-family: 'Cinzer' serif;
}