@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzer';
}

header {
    position: relative;
}

header .hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(/assets/homepage/hero-bg-img.png);
    width: 100%;
    height: 85vh;
    background-size: cover;
}

header .hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
    height: 48px;

}

header .hero nav a {
    color: white;
    text-decoration: none; 
}

header .hero nav a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    left: 0;
    bottom: -10px;
    width: 0;
    transition: ease-in 0.3s;
}

header .hero nav a:hover:after {
    width: 100%;
}

header .hero nav .right-nav {
    display: flex;
    gap: 1rem;
}

.display-font {
    color: #FFF;
    text-align: center;
    font-family: 'Cinzel Decorative' serif;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 4.5rem;
}

.hero-button {
    position: absolute;
    bottom: -10;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    padding: 1rem 2rem;
    background: white;
    border-color: #0C101E;
    transition: ease-out .8s;

}

.hero-button:hover {
    cursor: pointer;
    background: #0C101E;
    color: white;
}

.section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 48px;
    gap: 48px;
}

.section-1 .card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.section-1 .card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-1 .card .card-content {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-1 .card .card-content h3 {
    font-weight: 700;
    font-size: 45px;
    font-family: 'Cinzel' serif;
}

.section-1 .card .card-content a {
    color: white;
    font-family: 'Cinzel' serif;
    font-size: 32px;
}
.card-link{
    text-decoration: none;
}
/* 
.card {
    position: relative;
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: ease-out 0.8s;
}
.card:hover{
    animation: zoom 3s ease-out; 
}
@keyframes zoom {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 110%;
    }
}
.card h3 {
    margin: 24px;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Cinzel' serif;
    color: white;
}

.card a {
    color: white;
    font-size: 32px;
    margin-left: 24px;
}

.card:nth-child(1) {
    background-image: url(/assets/homepage/card-img-1.png);
}

.card:nth-child(2) {
    background-image: url(/assets/homepage/card-img-2.png);
} */

.section-2 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(/assets/homepage/hero-perfume.png);
    background-size: cover;
}

.section-2 h2 {
    color: #FFF;
    font-family: Cinzel;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 3.5rem;
}

.section-2 button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    margin-bottom: 3rem;
    transition: ease-out 0.8s;
}

.section-3 {
    display: grid;
    gap: 48px;
    margin: 48px;
}

.section-3 h3 {
    font-family: 'Cinzer', serif;
    font-size: 45px;
    font-weight: 400;
    margin: 0 auto;
}

.best-seller {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.best-seller-card {
    aspect-ratio: 1/1;
    background-size: cover;
    transition: ease-out 0.8s;
}

.card-container {
    padding: 20px;
    background-color: #F0ECE4;
}

.best-seller-card-1 {
    background-image: url(/assets/homepage/best-seller-1.png);
}

.best-seller-card-2 {
    background-image: url(/assets/homepage/best-seller-2.png);
}

.best-seller-card-3 {
    background-image: url(/assets/homepage/best-seller-3.png);
}

.section-4 {
    display: grid;
    margin-top: 3rem;
    gap: 48px;
}

.section-4 h3 {
    font-family: 'Cinzer', serif;
    font-size: 45px;
    font-weight: 400;
    margin: 0 auto;
}

.fall-winter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    margin: 0 48px;
}

.fall-winter-card {
    position: relative;
    width: 100%;
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.fall-winter-card:nth-child(1) {
    background-image: url(/assets/homepage/card-fall-winter-1.png);
}

.fall-winter-card:nth-child(2) {
    background-image: url(/assets/homepage/card-fall-winter-2.png);
}

.fall-winter-card .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    position: sticky;
    gap: 3.5rem;
    bottom: 0;
    justify-content: end;
}

.fall-winter-card .content h3 {
    color: white;
    font-size: 45px;
    font-family: 'Cinzer' serif;
}

.fall-winter-card .content button {
    border: none;
    padding: 1rem 2rem;
    width: fit-content;
    margin: 0 auto 24px auto;
    transition: ease-out 0.8s;
}

.scale-down-center:hover {
    cursor: pointer;
    transform: scale(0.9);
}


footer {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 48px;
    background: #0C101E;
    margin-top: 48px;
    padding: 48px;
}

.line {
    width: 100%;
    height: 0.125rem;
    background: white;
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

footer .footer-nav a {
    position: relative;
    text-decoration: none;
    color: white;
    width: 200px;
}

footer .footer-nav a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: ease-in 0.3s;
}
footer .footer-nav a:hover:after{
    width: 100%;
}
footer p {
    color: white;
    margin: 0 auto;
}

footer h3 {
    font-size: 45px;
    font-family: 'Cinzel' serif;
    color: white;
    margin: 0 auto;
    font-weight: 400;
}