@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 48px;
}

.top{
    margin-top: 5%;
}

.subtext{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fill{
    margin-top: 5%;
    margin-right: 5%;
}
.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.boxrleft{
    display: grid;
    grid-template-rows: 1fr;
}

.boxright{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: px;
}

.cube{
    margin: 0 10px;
    align-items: center;
}

.summaryevent{
    font-size: medium;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-weight: bold;
}