@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
    height: 48px;

}
nav a {
    color: black;
    text-decoration: none; 
}
nav .right-nav {
    display: flex;
    gap: 1rem;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
}

h1{
    font-size: 40px;
}

.header{
    display:flex;
    margin: 0 48px 0 48px;
}

.icon-button{
    border: none;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

#icon1{
    font-size: 24px;
    padding-top: 13px;
}

#product-name{
    margin-left: 20px;
    font-family: 'Cinzel', serif;
}



.img-parent{
    display: grid; 

   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   gap: 10px;
   height: 700px;
   margin: 0 48px 0 48px;
}

#img-child1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    border: 1px solid;
}

#img-child2{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    border: 1px solid;
}

#img-child3{
    grid-row-start: 1;
    grid-column-start: 4;
    border: 1px solid;
    grid-row-end: 2;
    grid-column-end: 5;
}

#img-child4{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    border: 1px solid;
}

#img-child5{ 
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    border: 1px solid;
}

.img{
    width: 100%;
    height: 100%;
}

.detail-parent{
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 100%;
    margin: 0 48px 0 48px;
    padding-top: 50px;
}

#detail-child1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    padding-right: 150px;
    font-family: 'Cinzel', serif;
}

#detail-child2{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
}

.details{
    padding-top: 20px;
}

.stars{
    margin-top: 25px;
}
.btn{
    margin-top: 20px;
}
#btn-buy{
    border: 1px solid;
    padding: 5px 183px 5px 183px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

#btn-buy:hover{
    color: white;
    background-color: black;
    transition: ease-out 0.3s;
}

footer {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 48px;
    background: #0C101E;
    margin-top: 48px;
    padding: 48px;
}

.line {
    width: 100%;
    height: 0.125rem;
    background: white;
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

footer .footer-nav a {
    position: relative;
    text-decoration: none;
    color: white;
    width: 200px;
}

footer .footer-nav a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: ease-in 0.3s;
}
footer .footer-nav a:hover:after{
    width: 100%;
}
footer p {
    color: white;
    margin: 0 auto;
}

footer h3 {
    font-size: 45px;
    font-family: 'Cinzel' serif;
    color: white;
    margin: 0 auto;
    font-weight: 400;
}